apiVersion: k6.io/v1alpha1
kind: TestRun
metadata:
  name: k6-prometheus-test
  namespace: monitoring
spec:
  parallelism: 1
  script:
    configMap:
      name: k6-test-script
      file: k6-prometheus-test.js
  arguments: --out experimental-prometheus-rw
  runner:
    env:
      - name: K6_PROMETHEUS_RW_SERVER_URL
        value: "http://monitoring-prometheus-prometheus-oper-prometheus.monitoring.svc.cluster.local:9090/api/v1/write"
    resources:
      requests:
        memory: "256Mi"
        cpu: "100m"
      limits:
        memory: "512Mi"
        cpu: "300m"